.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-breathe infinite 4s linear;
  animation-direction: alternate;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 60px;
  padding: 20px;
}

.App-content {
  padding: 20px;
}

@keyframes App-logo-breathe {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}


/* Below is the styling for the notification box. */
.alert-loading{
    border-radius: 15px;
    background: #2196F3; /* Blue */
    color: white;
    text-align: center;
    padding: 10px; 
    width: 200px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.alert-success{
  border-radius: 15px;
  background: #4CAF50; /* Green */
  color: white;
  padding: 10px;
  width: 300px;
  height: 20px; 
  position: absolute;
  top: 30px;
  right: 30px;
}

.alert-error{
  border-radius: 15px;
  background-color: #f44336; /* Red */
  color: white;
  padding: 10px; 
  width: 250px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
